<div class="card employee-card engineer mr-2 d-inline-block shadow-lg text-center">
    <div class="card-header">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"><i class="fas fa-glasses mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-id-badge 10px p-3"></i>ID: {{ id }}</li>
            <li class="list-group-item"><i class="fa fa-envelope 10px p-3"></i>Email: <a
                    href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item"><i class="fa fa-github 10px p-3"></i>GitHub: <a
                    href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a>
            </li>
        </ul>
    </div>
</div>