<div class="card employee-card manager mr-2 d-inline-block shadow-lg text-center">
    <div class="card-header">
        <i class="fas fa-mug-hot circle-icon-purple"></i>
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title">{{ role }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-id-badge 10px p-3"></i>ID: {{ id }}</li>
            <li class="list-group-item"><i class="fa fa-envelope 10px p-3"></i>Email: <a
                    href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item"><i class="fa fa-phone 10px p-3"></i>Office number: {{ officeNumber }}</li>
        </ul>
    </div>
</div>